<div class="container">
  <div class="hero-unit">
    <h2>おんあぽ<small>オンラインスケジューリングカレンダー</small></h2>
    <div class="hero-desc">
      オンラインミーティングのスケジューリングにお使いください
    </div>
    <%=link_to "Facebookでログイン", "auth/facebook", :class => 'btn btn-primary btn-large' %></button>
  </div>
</div>
