<div class="container">
  <div class="hero-unit">
    <h2>おんあぽ<small>オンラインスケジューリングカレンダー</small></h2>
    <div class="hero-desc">
      オンラインミーティングのスケジューリングにお使いください
    </div>
    <%=link_to "Facebookでログイン", "auth/facebook", :class => 'btn btn-primary btn-large' %></button>

  <%=link_to "Google カレンダーテスト","https://www.google.com/calendar/render?action=TEMPLATE&text=こんにちは!こんにちは!&dates=20130119T043000Z/20130119T080000Z&details=http://connpass.com/event/1535/&location=沖縄県糸満市&trp=false&sprop=http://connpass.com/event/1535/&sprop=name:connpass&sf=true&output=xml"%>
  </div>
</div>
