<% content_for(:title) do %>
  <%=@user.name %>のカレンダー
<% end %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=279669395469559";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>

<h1><%=@user.name%>のカレンダー</h1>
<div>
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-hashtags="おんあぽ">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>

<%= raw(event_calendar) %>
